<h1>New Event</h1>

<table border="1">
 <tr>
  <th>Event</th>
  <th>Venue</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th>Description</th> 
</tr> 

 <%= form_for(@event) do |t| %>
   <tr>
    <td><%= t.text_field :event %></td>
    <td><%= t.text_field :venue %></td>
    <td><%= t.date_field :start_date %></td>
    <td><%= t.date_field :end_date %></td>
    <td><%= t.text_area :description %></td>
   </tr>
</table><br>
<%= t.submit "Create" %><br><br>
 <% end %>

<%= link_to "Back", "/" %>
