<h1>New Event</h1>
<%= link_to "Back","/events" %><br><br>
<%= form_for(@event) do |t| %>
 <table>
  <tr>
    <th>Event</th>
    <th>Venue</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>          
   </tr> 
   <tr> 
    <td><%= t.text_field :event %></td>
    <td><%= t.text_field :venue %></td>
    <td><%= t.date_field :start_date %></td>
    <td><%= t.date_field :end_date %></td>
    <td><%= t.text_area :description %></td>
    <td><%= t.submit "Create" %></td>
   </tr>
 </table>
<% end %>


